@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&display=swap");

@import "reset.css";
@import "variables.css";

/** components */
@import "components/status-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/nav-bar.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/only-mobile.css";

/** screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chatting.css";

body {
    width: 100vw;
    height: 175vh;
    font-family: "Fredoka", sans-serif;
    background-color: var(--orange);
}
body::-webkit-scrollbar {
    display: none;
}
.welcome-header {
    margin: 70px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome-header__title {
    color: var(--yellow);
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 0 0 5px black;
}
.welcome-header__text {
    width: 60%;
    opacity: 0.7;
    font-weight: 300;
}

.welcome-img {
    display: block;
    width: 50vw;
    height: 40vh;
    border-radius: 10%;
    margin: 3vh auto 0 auto;
}

.main-screen {
    padding-left: 15px;
    padding-right: 15px;
}
.dot {
    background-color: rgb(39, 177, 177);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
