#friends-display-link {
    display: block;
    text-align: center;
    background-color: rgba(207, 203, 203, 0.25);
    padding: 10px 0px;
    margin-bottom: 20px;
    margin-top: -15px;
    color: var(--grey);
    font-size: 15px;
}
#friends-display-link i {
    color: rgba(155, 153, 153, 0.6);
}
.friends-screen__channel {
    margin-top: 20px;
    border-top: var(--main-border);
    padding-top: 15px;
}
.friends-screen__cannel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: var(--grey);
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: var(--yellow);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    animation: hideSplashScreen 0.5s ease-in-out forwards;
    animation-delay: 1s;
}
