.login-form {
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
}
.login-form__input {
    padding: 15px 0px;
    margin-bottom: 15px;
    border: none;
    font-size: 18px;
    background-color: transparent;
    border-bottom: 0.2vh solid transparent;
    transition: border-color 1s ease-in-out;
}
.login-form__input::placeholder {
    color: var(--yellow);
}
.login-form__input:focus {
    border-color: rgb(218, 255, 133);
}
.login-form__btn {
    margin: 5px 0px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
    padding: 20px 0px;
}
.login-form__a {
    margin-top: 2vh;
    text-align: center;
    color: inherit;
    text-decoration: none;
    font-size: 14px;
}
.login-form__a:hover {
    text-decoration: underline;
}
