.nav {
    width: 100%;
    position: fixed;
    bottom: 0px;
    border-top: 2px solid var(--grey);
    background-color: rgba(233, 233, 233, 0.8);
    padding: 15px 0px;
}
.nav__list {
    display: flex;
    justify-content: space-around;
}
.nav__link {
    position: relative;
    color: rgba(47, 54, 62, 0.9);
}
.nav__notification {
    position: absolute;
    left: 23px;
    top: -18px;
}
.nav__dot-position {
    position: absolute;
    left: 30px;
    bottom: 25px;
}
